
@{
    ViewBag.Title = "Ledger_Opening";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-3">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Ledger Opening</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="Ledger_Opening_ID">ID</label>
                            <input type="text" class="form-control" disabled="disabled" id="Ledger_Opening_ID" placeholder="ID">
                        </div>
                        <div class="form-group">
                            <label for="Ledger_Code">Ledger Code</label>
                            @*<input type="text" class="form-control" id="Ledger_Code" placeholder="Code">*@
                            @Html.DropDownList("ddl_Ledger_Code", (MultiSelectList)ViewBag.FormLedgerList, "Please Select...", new { @class = "form-control formrequired", @placeholder = "Display Name", @id = "ddl_Ledger_Code", onchange = "chechkLedger();" })


                        </div>
                        <div class="form-group">
                            <label for="Company_Code">Company Code</label>
                            @*<input type="text" class="form-control" id="Company_Code" placeholder="Code">*@
                            @Html.DropDownList("ddl_Company_Code", (MultiSelectList)ViewBag.FormCompanyList, "Please Select...", new { @class = "form-control formrequired", @placeholder = "Display Name", @id = "ddl_Company_Code", onchange = "chechkcompany();" })


                        </div>
                        <div class="form-group">
                            <label for="Branch_Code">Branch Code</label>
                            @*<input type="text" class="form-control" id="Branch_Code" placeholder="Code">*@
                            @Html.DropDownList("ddl_Branch_Code", (MultiSelectList)ViewBag.FormBranchList, "Please Select...", new { @class = "form-control formrequired", @placeholder = "Display Name", @id = "ddl_Branch_Code", onchange = "chechkbranch();" })


                        </div>
                        <div class="form-group">
                            <label for="Location_Code">Location Code</label>
                            @*<input type="text" class="form-control" id="Location_Code" placeholder="Code">*@
                            @Html.DropDownList("ddl_Location_Code", (MultiSelectList)ViewBag.FormLocationList, "Please Select...", new { @class = "form-control formrequired", @placeholder = "Display Name", @id = "ddl_Location_Code", onchange = "chechkloaction();" })


                        </div>
                        <div class="form-group">
                            <label for="FIN_Year_Code">FIN_Year_Code</label>
                            <input type="text" class="form-control" id="FIN_Year_Code" placeholder="Code">
                            @*@Html.DropDownList("ddl_FIN_Year_Code", (MultiSelectList)ViewBag.FormFINYEARList, "Please Select...", new { @class = "form-control select2", @placeholder = "Display Name", @id = "ddl_FIN_Year_Code" })*@


                        </div>
                        <div class="form-group">
                            <label for="Debit_AMT"> Debit_AMT</label>
                            <input type="text" class="form-control" id="Debit_AMT" autofocus="autofocus">
                        </div>

                        <div class="form-group">
                            <label for="Credit_AMT">Credit_AMT</label>
                            <input type="text" class="form-control" id="Credit_AMT" autofocus="autofocus">
                        </div>
                        <div class="form-group">
                            <label for="Opening_Date">Opening Date</label>
                            <input type="text" class="form-control" id="Opening_Date" autofocus="autofocus">
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="button" id="btnSave" class="btn btn-primary" onclick="SaveForm()">Save</button>
                        <button type="button" id="btnClear" class="btn btn-primary" value="Clear" onclick="Clear()">Clear</button>
                    </div>
                </form>
            </div>

        </div>
        <div class="col-md-9">
            <!-- general form elements -->
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Ledger Opening List</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div style="width:90%; margin:0 auto;">
                        <div id="gridboxmap1" class="box-body table-responsive no-padding">
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>

        </div>
    </div>
</section>


<script type="text/javascript">
    $(document).ready(function () {
        show_loader();
        display();
        hide_loader();
        $('#Opening_Date').datepicker({
            autoclose: true
        })
    });

    //$('#demoGrid').DataTable({
    //});

    function Clear() {
        $("#Ledger_Opening_ID").val("");
        $("#ddl_Ledger_Code").val("").trigger("change");
        $("#ddl_Company_Code").val("").trigger("change");
        $("#ddl_Branch_Code").val("").trigger("change");
        $("#ddl_Location_Code").val("").trigger("change");
        $("#FIN_Year_Code").val("");
        $("#Debit_AMT").val("");
        $("#Credit_AMT").val("");
        $("#Opening_Date").val("");
        $("#btnSave").text('Save');
        $("#btnSave").attr('class', 'btn btn-primary');

        document.getElementById('Ledger_Opening_ID').focus();
    }

    function GetFormDetails(Ledger_Opening_ID, Ledger_Code, Ledger_Name, Company_Code, Company_Name, Branch_Code, Branch_Name, Location_Code, Location_Name, FIN_Year_Code, Debit_AMT, Credit_AMT, Opening_Date) {
        $("#Ledger_Opening_ID").val(Ledger_Opening_ID);
        $("#ddl_Ledger_Code").val(Ledger_Code).trigger("change");
        $("#ddl_Company_Code").val(Company_Code).trigger("change");
        $("#ddl_Branch_Code").val(Branch_Code).trigger("change");
        $("#ddl_Location_Code").val(Location_Code).trigger("change");
        $("#FIN_Year_Code").val(FIN_Year_Code);
        $("#Debit_AMT").val(Debit_AMT);
        $("#Credit_AMT").val(Credit_AMT);
        $("#Opening_Date").val(Opening_Date);
        $("#btnSave").text('Update');
        $("#btnSave").attr('class', 'btn btn-warning');
        document.getElementById('Ledger_Opening_ID').focus();
    }

    function SaveForm() {
        var isValid = true;
        $('.formrequired').each(function () {
            if ($.trim($(this).val()) == '') {
                isValid = false;
                $(this).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });
            }
            else {
                $(this).css({
                    "border": "",
                    "background": ""
                });
            }
        });

        if (isValid) {
            $.ajax({
                url: '@Url.Action("Opening_SaveForm", "Master")',
                type: "POST",
                dataType: "json",
                data: JSON.stringify({


                    Ledger_Opening_ID: $("#Ledger_Opening_ID").val(),
                    Ledger_Code: $("#ddl_Ledger_Code").val(),
                    Company_Code: $("#ddl_Company_Code").val(),
                    Branch_Code: $("#ddl_Branch_Code").val(),
                    Location_Code: $("#ddl_Location_Code").val(),
                    FIN_Year_Code: $("#FIN_Year_Code").val(),
                    Debit_AMT: $("#Debit_AMT").val(),
                    Credit_AMT: $("#Credit_AMT").val(),
                    Opening_Date: $("#Opening_Date").val(),

                }),
                contentType: "application/json; charset=utf-8"
            }).done(function (data) {
                if (data.success) {
                    Clear();
                    display();
                }
                else {
                    bootbox.alert(data.message);
                }
            });
        }
    }

    function display() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetLedger_Opening_List")',
            traditional: true,
            contentType: 'application/json; charset=utf-8',
            success: function (json) {
                if (json) {
                    var tableHeaders = '';
                    var dynamicColumns = [];
                    var i = 0;
                    //var v = JSON(data)

                    tableHeaders += "<th>Edit</th>";
                    var obj = { sTitle: "Select", orderable: false };
                    dynamicColumns[i] = obj;
                    i++;

                    $.each(json.List[0], function (key, value) {
                        tableHeaders += "<th>" + key + "</th>";

                        var obj = { sTitle: key, orderable: false };

                        dynamicColumns[i] = obj;
                        i++;
                    });



                    $("#gridboxmap1").empty();
                    $("#gridboxmap1").append('<table id="tblExcelImport" cellspacing="0" cellpadding="0" style="width: 100%; margin-bottom: 5px; white-space: nowrap;" class="table-bordered table-condensed table-striped grid"><thead class="uppercase"><tr>' + tableHeaders + '</tr></thead><tbody></tbody><tfoot></tfoot></table>');


                    //fetch all records from JSON result and make row data set.
                    var rowDataSet = [];
                    var i = 0;
                    $.each(json.List, function (key, value) {
                        var rowData = [];
                        var j = 1;
                        $.each(json.List[i], function (key, value) {
                            rowData[j] = value;
                            j++;
                        });
                        rowDataSet[i] = rowData;

                        i++;
                    });
                    var oTable = $('#tblExcelImport').dataTable({
                        "bDestroy": true,
                        "bFilter": false,
                        "serverSide": false,
                        "bInfo": true,
                        "bAutoWidth": false,
                        "bPaginate": true,
                        "bLengthChange": true,
                        //"fnPreDrawCallback": function () {
                        //    show_loader();
                        //},
                        //"fnDrawCallback": function () {
                        //    hide_loader();
                        //},
                        "bDestroy": true,
                        "bSort": true,
                        "sEmptyTable": "Loading data from server, Or Data Not Available...",
                        "aaData": rowDataSet,
                        //"aoColumns": dynamicColumns,
                        "columns": [
                             {
                                 "bSortable": false,
                                 "sWidth": "1%",
                                 "render": function (data, type, row, meta) {
                                     return '<center><a href="javascript:void(0);" onclick="GetFormDetails(' + row[1] + ',' + row[2] + ',\'' + row[3] + '\',' + row[4] + ',\'' + row[5] + '\',' + row[6] + ',\'' + row[7] + '\',' + row[8] + ',\'' + row[9] + '\',' + row[10] + ',' + row[11] + ',' + row[12] + ',\'' + row[13] + '\',)" style="padding:5px;"><i class="fa fa-edit" style="color:#444;"></i></a></center>'
                                 }
                             },
                              { "sWidth": "1%" },
                              { "sWidth": "1%" },
                              { "sWidth": "1%" },
                              { "sWidth": "1%" },
                              { "sWidth": "1%" },
                              { "sWidth": "1%" },
                              { "sWidth": "1%" },
                              { "sWidth": "1%" },
                              { "sWidth": "1%" },
                              { "sWidth": "1%" },
                              { "sWidth": "1%" },
                              { "sWidth": "1%" },
                              { "sWidth": "1%" },

                        ],
                        "columnDefs": [
           {
               "targets": [1],
               "visible": false
           },
           {
               "targets": [2],
               "visible": false
           },
           {
               "targets": [4],
               "visible": false
           },
           {
               "targets": [6],
               "visible": false
           },
           {
               "targets": [8],
               "visible": false
           }
                       ]
                    });
                }
            },
            error: function (json) { alert("Error " + json) }
        });
    };


    $(function () {
        $("#Start_Date").datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+0",
            dateFormat: 'dd-M-yy'
        });
    });

    $(function () {
        $("#End_Date").datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+0",
            dateFormat: 'dd-M-yy'
        });

    });
    function chechkLedger(){
    var ledger = $('#ddl_Ledger_Code').val();
    if (ledger != "") {
            $('#ddl_Ledger_Code').css("background-color", "");
            $('#ddl_Ledger_Code').css("border", "");
            return true;
        }
    }
  function chechkcompany() {

     var company = $('#ddl_Company_Code').val();
    if (company != "") {
            $('#ddl_Company_Code').css("background-color", "");
            $('#ddl_Company_Code').css("border", "");
            return true;
        }
    }
     function chechkbranch() {
        var brancecode = $('#ddl_Branch_Code').val();
          if (brancecode != "") {
            $('#ddl_Branch_Code').css("background-color", "");
            $('#ddl_Branch_Code').css("border", "");
            return true;
        }
    }

    function chechkloaction()
    {
     var location = $('#ddl_Location_Code').val();
          if (location != "") {
            $('#ddl_Location_Code').css("background-color", "");
            $('#ddl_Location_Code').css("border", "");
            return true;
        }
    }

</script>







